body{
    margin: 0px;
    padding: 0px;
    font-family: "Readex Pro", sans-serif;
}
.navbar-nav.me-auto{
    margin-left: auto!important;
    margin-right: 0px !important;
}
.space-left-right{
    padding: 0px 50px;
}
.instagram-section{
    overflow: hidden;
}
.navbar-expand-md .navbar-nav .nav-link{
    font-size: 15px;
    line-height: 20px;
    font-style: normal;
    font-weight: 600;
    padding: 10px 25px;
    color: #000000;
    font-family: "Fredoka", sans-serif;
    text-align: center;
}
.spaceleft-right{
    padding: 0px 60px;
}
.spaceleft-right-10{
    padding: 0px 10px;
}
.header-buttons ul {
    margin: 0px;
    padding: 0px;
    text-align: right;
}
.header-buttons ul li {
    list-style: none;
    display: inline-block;
    margin: 0px 5px;
}
.header-buttons ul li a {
    text-decoration: none;
}
.header-buttons ul li a i {
    font-weight: 700;
}
.header-buttons ul li a span {
    background-color: #ff6600;
    color: #ffffff;
    font-size: 12px;
    padding: 4px;
    line-height: 12px;
    border-radius: 50px;
    display: inline-block;
    width: 20px;
    text-align: center;
    position: relative;
    left: -7px;
    top: -7px;
}
.navbar-nav.me-auto{
    margin-left: auto !important;
    margin-right: auto !important;
}
.banner-section-wrapper{
    background-color: #3AB787;
    padding: 20px 0px 0px;
    position: relative;
}
.banner-section-wrapper:before{
    content: "";
    width: 87px;
    height: 99px;
    background-image: url("../images/arrow-down.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 55px;
    left: 0px;
    background-size: 100%;
}
.btn.btn-style{
    background-color: #FFDA00;
    border-radius: 50px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
    padding: 18px 40px;
}
.banner-image{
    margin-bottom: -110px;
    text-align: center;
    width: 879px;
    margin: auto auto -110px auto;
}
.banner-content h1{
    font-family: "Fredoka", sans-serif;
    text-align: center;
    color: #ffffff;
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 30px;
}
.banner-content{
    padding: 100px 0px;
    position: relative;
}
.banner-content:before{
    content: "";
    width: 162px;
    height: 167px;
    background-image: url(../images/spirral-arrow.png);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 10px;
    right: 0px;
    background-size: 100%;
}
.banner-content .nav-link{
    border-radius: 0px;
    border: 0px;
    background-color: transparent !important;
    font-family: "Fredoka", sans-serif;
    color: #ffffff;
}
.banner-content .nav-link i{
    font-style: normal;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: 2px solid #ffffffff;
    vertical-align: middle;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: "Fredoka", sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.banner-content .nav-link.active i{
    background-color: #FFDA00;
    border: 2px solid #000000;
}
.yellow-text{
    background-color: #FFDA00;
    padding: 20px 20px 35px 20px;
    margin-top: 20px;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: -20px;
}
.yellow-text p{
    font-size: 13px;
    margin: 0px;
}
.yellow-text h6{
    margin-bottom: 5px;
}
.tab-field{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
}
.tab-field .form-label{
    margin-bottom: 0px;
    width: 140px;
    color: #000000;
}
.form-check-inline label{
    color: #000000;
}
.margin-bottom{
    margin-bottom: 20px;
}
.dog-image-holder{
    position: relative;
}
.banner-image{
    position: absolute;
    bottom: 0px;
    top: auto;
    left: 0;
    right: 0;
}
.space-top-bottom-100{
    padding: 100px 0px
}
.section-content i{
    margin-bottom: 30px;
    display: inline-block;
}
.section-content h3{
    font-size: 80px;
    color: #000000;
    line-height: 90px;
    font-family: "Fredoka", sans-serif;
    font-weight: 700;
    margin-bottom: 40px;
}
.section-content p{
    font-size: 18px;
    color: #2E3031;
    line-height: 32px;
}
.learn-more{
    color: #000000;
    font-weight: 700;
    font-size: 14px;
}
.space-top-150{
    padding-top: 150px !important;
}
.space-top-50{
    padding-top: 50px !important;
}
.providing-superior-pet-section{
    position: relative;
    padding-bottom: 100px;
}
.providing-superior-pet-section::before{
    content: "";
    width: 231px;
    height: 403px;
    background-image: url(../images/wings.png);
    position: absolute;
    top: -80px;
    background-size: 100%;
}
.pet-service{
    text-align: center;
}
.pet-service h6{
    font-size: 30px;
    font-family: "Fredoka", sans-serif;
    margin-top: 20px;
    margin-bottom: 0px;
}
.providing-superior-pet-section .section-content h3{
    margin-bottom: 100px;
}
.Why-rely-image{
    max-width: 1388px;
    margin: auto;
}
.Why-rely-section{
    background-image: url(../images/relybg.jpg);
    background-size: cover;
}
.icon-and-text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}
.icon-text h4{
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 35px;
}
.icon-text p{
    font-size: 20px;
    color: #000000;
    line-height: 30px;
    margin-bottom: 0px;
}
.icon-text{
    margin-left: 30px;
}
.icon-and-text i{
    flex-shrink: 0;
}
.Why-rely-section h3{
    margin-bottom: 100px;
}
.testimonial-text i{
    display: inline-block;
}
.stars{
    width: 113px;
}
.testimonial-text p{
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-top: 10px;
}
.branslogos{
    width: 393px;
}
.clients-testimonial {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px #dddddd;
    border-radius: 20px;
    margin: 20px;
    padding: 30px 30px 0px;
}
.clients-testimonial{
    position: relative;
}
.clients-testimonial:before{
    content: "";
    background-image: url("../images/woof.png");
    background-repeat: no-repeat;
    width: 131px;
    height: 87px;
    position: absolute;
    right: -15px;
    top: -10px;
    background-size: 100%;
}
.clients-say{
    position: relative;
}
.clients-say .owl-prev ,.latest-products-carousal .owl-prev{
    width: 52px;
    height: 52px;
    position: absolute;
    left: 0px;
    right: auto;
    top: 0px;
    bottom: 0px;
    margin: auto;
    background-image: url("../images/a-left.png") !important;
}   
.clients-say .owl-next, .latest-products-carousal .owl-next{
    width: 52px;
    height: 52px;
    position: absolute;
    left: auto;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    background-image: url("../images/a-right.png") !important;
}
.clients-say .owl-prev span,.clients-say .owl-next span{
    font-size: 0px;
}
.latest-product{
    text-align: center;
}
.latest-product-img{
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px #dddddd;
    border-radius: 20px;
    margin: 10px 10px 20px;
    padding: 20px;
}
.latest-product h6{
    font-size: 22px;
    color: #585858;
    margin-bottom: 6px;
}
.latest-product p{
    font-size: 16px;
    color: #585858;
    margin-bottom: 0px;
}
.location-info ul li {
    color: #2E3031;
    font-size: 14px;
    position: relative;
    list-style: none;
    padding: 10px 0px 10px 20px;
    font-weight: 700;
}
.location-info ul li:before{
    content: "";
    width: 5px;
    height: 9px;
    background-image: url('../images/li.png');
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    left: 0;
}
.location-info ul{
    margin: 0px;
    padding: 0px;
}
.location h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.location h3 i{
    display: inline-block;
}
.location.faq-text.text-start i{
    margin-right: 10px;
}
.location.text-end i{
    margin-left: 10px;
}
.location-info h6{
    font-size: 18px;
    color: #000000;
    font-weight: 600;
}
.location-info p a{
    color: #2E3031;
    font-size: 16px;
    text-decoration: none;
}
.location-info h4 a{
    color: #2E3031;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}
.footer-social{
    text-align: right;
}
.footer-social ul{
    margin: 0px;
    padding: 0px;
}
.footer-social ul li{
    list-style: none;
    display: inline-block;
    margin-left: 15px;
}
.footer-social ul li a{
    color: #000000;
    font-size: 25px;
}
.footer-section-wrapper{
    background-color:#efffe9;
    padding: 40px 0px;
    margin-top: 60px;
}
.footer-section-wrapper .border-sec{
    border-bottom: 1px solid #c6d4c1;
}
.footer-logo{
    margin-bottom: 20px;
}
.footer-menu ul{
    margin: 0px;
    padding: 0px;
}
.footer-menu ul li{
    list-style: none;
    display: inline-block;
    margin-left: 15px;
}
.footer-menu ul li a{
    text-decoration: none;
    color: #2E3031;
    font-weight: 700;
}
.footer-menu{
    text-align: right;
}
.footer-p{
    margin-bottom: 0px;
    margin-top: 20px;
    line-height: 30px;
}
.row.align-items-center.border-sec{
    position: relative;
}
.arrow-top{
    position: absolute;
    width: 59px;
    height: 34px;
    margin: auto;
    left: 0px;
    right: 0px;
    bottom: -18px;
}
.border-sec:before{
    content: '';
    width: 136px;
    height: 119px;
    background-image: url(../images/spiral.png);
    position: absolute;
    right: 400px;
    bottom: -50px;
}
.footer-section-wrapper h3{
    text-align: center;
    font-size: 42px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 40px;
}
.footer-section-wrapper .btn.btn-style{
    margin-top: 0px;
    line-height: 18px;
}
.footer-contact-info a{
    text-decoration: none;
    color: #2E3031;
    font-size: 24px;
    font-weight: 600;
}
.footer-contact-info{
    margin-top: 60px;
}
.footer-contact-info .btn.btn-style{
    position: relative;
}
.footer-contact-info .btn.btn-style:before{
    content: "";
    width: 50px;
    height: 61px;
    background-image: url("../images/button-icon.png");
    position: absolute;
    right: -40px;
    top: -35px;
}
.footer-bottom ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-bottom ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 10px;
}
.footer-bottom a{
    font-size: 16px;
}
.footer-bottom{
    text-align: center;
    margin-top: 80px;
}
.filter-form {
    padding-right: 50px;
}
.service-filter-field {
    margin-bottom: 30px;
}
form label {
    font-size: 18px;
    color: #000000;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 10px;
}
.field-style {
    height: 60px;
    border: 1px solid #9E9E9E;
    background-color: #ffffff;
}
.service-page-content .list-group {
    height: 800px;
    overflow: auto;
    box-shadow: 0px 0px 10px 0px #dddddd;
}
.service-page-content .list-group strong {
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.banner-section-wrapper.shop-banner{
    background-image: url(../images/shop-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.time-and-button .btn.btn-style{
    margin-top: 0px;
    background-color: #000000;
    color: #ffffff;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    border-radius: 20px;
    line-height: 20px;
    padding: 18px 30px;
    margin-left: 20px;
}
.time-and-button .btn.btn-style:hover{
    background-color: #FFD100;
    color: #000000;
}
.time-and-button small{
    font-size: 20px;
}
.filter-form .btn.btn-style{
    background-color: #3AB787;
    color: #ffffff;
    font-weight: 400;
    border-radius: 20px;
    line-height: 18px;
}
.filter-form .btn.btn-style:hover{
    background-color: #FFD100;
    color: #000000;
}
.banner-section-wrapper.services-banner{
    background-image: url(../images/service-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.inner-page-banner:before{
    display: none;
}
.inner-page-banner .banner-content:before{
    display: none;
}
.product-box h6 {
    color: #000000;
    font-size: 22px;
    font-weight: 700;
}
.product-box {
    text-align: center;
    margin-bottom: 60px;
    text-decoration: none;
    display: block;
}
.product-box p {
    color: #000000;
    font-size: 16px;
}
.product-image {
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px #dddddd;
    margin-bottom: 30px;
}
.product-section-header {
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.products-page-title {
    font-size: 16px;
}
.border-sec-style a{
    width: 45px;
    height: 45px;
    background-color: #E1FFD5;
    display: inline-block;
    border-radius: 50px;
    text-align: center;
    padding: 8px;
    margin: 0px 10px;
}
.filters-actions select{
    width: 180px;
    height: 35px;
    border-radius: 50px;
    background-color: #E1FFD5;
}
.search-style input {
    border-radius: 50px;
    border: 1px solid #A5A5A5;
    padding: 0px 20px;
    height: 50px;
    margin-bottom: 30px;
}
.search-style button {
    border: 0px;
    background-color: transparent;
    position: absolute;
    top: 3px;
    right: -3px;
}
.search-style i {
    display: inline-block;
}
.search-style{
    position: relative;
}
.filter-body h2 {
    font-size: 22px;
    color: #000000;
    margin-bottom: 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dee2e6;
}
.filter-link-box .accordion-button {
    font-size: 22px;
    color: #000000 !important;
    margin-bottom: 0px;
    padding: 0px;
}
.filter-link-box {
    margin-bottom: 30px;
}
.filter-body .accordion-button::after{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4'/%3E%3C/svg%3E");
}
.accordion-button:not(.collapsed)::after{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8'/%3E%3C/svg%3E");
}
.filter-body .accordion-button:not(.collapsed) {
    background-color: transparent !important;
}
.accordion-button:focus{
    border:0px;
    outline: 0;
    box-shadow: none;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.arrivals-img{
    background-color: #f5f5f5;
    border-radius: 18px;
    height: 100px;
    overflow: hidden;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.new-arrivals-sidebar h6{
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    font-weight: 700;
}
.new-arrivals-sidebar p{
    font-size: 18px;
    color: #1D256B;
}
.form-select:focus{
    box-shadow: none;
}
.footer-logo a {
    display: inline-block;
}
@media only screen and (min-width:1400px){
    
}
@media only screen and (min-width: 1920px){
    
}
@media only screen and (max-width:1700px){

    .banner-image{
        width: 665px;
        margin: auto auto -84px auto;
    }
}
@media only screen and (max-width:1400px){

    .banner-image{
        width: 590px;
        margin: auto auto -74px auto;
    }
    .banner-content:before{
        width: 100px;
        height: 106px;
    }
}
@media only screen and (max-width:1199px){
    
    .space-top-150{
        padding-top: 100px !important;
    }
    .section-content h3 {
        font-size: 60px;
        line-height: 75px;
    }
    .banner-image {
        width: 482px;
        margin: auto auto -63px auto;
    }
    .tab-field{
        padding: 10px;
    }
    .tab-field .form-label{
        font-size: 14px;
    }
    .form-check-inline label{
        font-size: 14px;
    }
    .form-select{
        font-size: 14px;
    }
}
@media only screen and (max-width:1024px){

    .spaceleft-right{
        padding: 0px 20px;
    }
    .banner-content:before{
        display: none;
    }
    .banner-section-wrapper:before{
        top: 20px;
    }
    .pet-service h6{
        font-size: 26px;
    }
    .clients-testimonial{
        padding: 30px;
    }
    .latest-products-section.space-top-50{
        padding-top: 0px !important;
    }
    .clients-say-section.space-top-bottom-100{
        padding-bottom: 40px;
    }
    .space-top-bottom-100 {
        padding: 80px 0px;
    }
    .providing-superior-pet-section::before{
        width: 150px;
        height: 260px;
    }
}
@media only screen and (max-width:991px){

    .banner-image{
        position: static;
    }
    .navbar-expand-md .navbar-nav .nav-link{
        padding: 10px 15px;
    }
    .navbar-brand{
        width: 185px;
    }
    .banner-content{
        padding: 60px 0px;
    }
    .girl-dog{
        margin-bottom: 40px;
    }
    .section-content i{
        margin-bottom: 10px;
    }
    .pet-service h6 {
        font-size: 22px;
    }
    .providing-superior-pet-section{
        padding-bottom: 60px;
    }
    .Why-rely-section h3{
        margin-bottom: 60px;
    }
    .testimonial-text{
        margin-top: 40px;
    }
    .latest-product h6{
        font-size: 18px;
    }
    .latest-product p{
        font-size: 14px;
    }
    .location.text-end{
        text-align: center !important;
    }
    .location.faq-text.text-start{
        width: 400px;
        margin: auto;
    }
    .footer-logo{
        text-align: center;
    }
    .border-sec:before{
        display: none;
    }
    .space-top-bottom-100 {
        padding: 60px 0px;
    }
    .footer-social ul{
        text-align: center;
        margin-bottom: 40px;
    }
    .footer-p{
        text-align: center;
        margin-bottom: 20px;
    }
    .footer-menu{
        text-align: center;
    }
    .footer-section-wrapper h3{
        font-size: 35px;
    }
    .footer-contact-info {
        margin-top: 30px;
    }
    .footer-section-wrapper .btn.btn-style{
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .footer-bottom{
        margin-top: 50px;
    }
    .latest-product-img{
        padding: 10px;
    }
    .filter-form {
        padding-right: 0px;
        margin-bottom: 40px;
    }
    .colsettings {
        display: none;
    }
    .search-section.space-top-150{
        padding-top: 60px !important;
    }
}
@media only screen and (max-width:767px){

    .d-flex.product-section-header{
        flex-direction: column !important;
    }
    .time-and-button {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .time-and-button .btn.btn-style{
        padding: 10px 25px;
    }
    .service-page-content .list-group .btn{
        line-height: 14px;
        font-size: 14px;
        padding: 10px 15px;
        width: auto;
    }
    .service-page-content .list-group strong {
        font-size: 16px;
    }
    .time-and-button small {
        font-size: 14px;
        margin-right: 0px;
        margin-bottom: 5px;
    }
    .navbar-toggler{
        background-color: #3AB787;
    }
    .header-buttons{
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        width: 90px;
        top: 25px;
    }
    .tab-field {
        margin-bottom: 20px;
    }
    .section-content h3{
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 40px;
    }
    .providing-superior-pet-section::before{
        width: 100px;
        height: 175px;
    }
    .providing-superior-pet-section .section-content h3 {
        margin-bottom: 50px;
    }
    .icon-text p{
        font-size: 18px;
    }
    .icon-text h4{
        font-size: 30px;
    }
}
@media only screen and (max-width:575px){

    .banner-image{
        width: 270px;
        margin: auto auto -34px auto;
    }
    .spaceleft-right{
        padding: 0px 0px;
    }
    .navbar-brand{
        width: 130px;
    }
    .header-buttons ul li{
        margin: 0px 2px;
    }
    .header-buttons{
        width: 80px;
    }
    .header-buttons{
        left: 90px;
        width: 90px;
        top: 20px;
    }
    .banner-content h1{
        font-size: 50px;
        margin-bottom: 0px;
    }
    .banner-section-wrapper:before{
        width: 60px;
    }
    .tab-field .form-label{
        width: 110px;
    }
    .providing-superior-pet-section::before{
        width: 65px;
        height: 114px;
    }
    .branslogos{
        width: 100%;
    }
    .icon-and-text{
        margin-bottom: 40px;
    }
    .location.faq-text.text-start{
        width: auto;
    }
    .icon-and-text{
        flex-direction: column;
    }
    .icon-text{
        margin-left: 0px;
        text-align: center;
        margin-top: 20px;
    }
    .space-top-bottom-100 {
        padding: 40px 0px;
    }
    .clients-testimonial:before{
        width: 78px;
    }
    .section-content h3 {
        font-size: 34px;
        line-height: 44px;
    }
    .footer-section-wrapper h3 br{
        display: none;
    }
    .footer-section-wrapper h3{
        font-size: 30px;
    }
    .section-content h3{
        margin-bottom: 25px;
    }
    .testimonial-text p{
        font-size: 16px;
    }
    .clients-testimonial{
        padding: 30px 15px;
    }
    .clients-say-section.space-top-bottom-100 {
        padding-bottom: 0px;
    }
    .footer-contact-info a{
        font-size: 20px;
    }
    .footer-contact-info a{
        font-size: 16px;
    }
}
